<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dados</title>
</head>
<body>
    <h1>Dados</h1>
    <hr>
    <table border=2>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>E-mail</td>
            <td>Excluir</td>
            <td>Atualizar</td>
        </tr>
        {% for User in users %}
            <tr>
                <td>{{ User.id }}</td>
                <td>{{ User.name }}</td>
                <td>{{ User.email }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/">Voltar</a>
</body>
</html>