<html>
<head>
<body>
   <title>Massas</title>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 "></div>
    <div class="row no-gutter-xs visible-xs"></div>
    <div class="col-xs-1 col-sm-1 col-md-1"></div>

    <iframe src="https://www.youtube.com/embed/tOjfJ7BMedA" title="YouTube video player" frameborder="0" class="Lasanha" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h1 class="massa">LASANHA À BOLONHESA</h1>
    <h3 class="descricaomassa"> Lasanha a bolonhesa é um clássico que todo mundo ama. O bacana dessa receita é que o molho pode ser feito com antecedência, assim não se perde a manhã inteira do domingão na cozinha!</h3></div>

  <h3 class="especificacoes">Autor(a)<strong> Panelinha</strong></h3>
  <h3 class="especificacoes">Tempo de preparo<strong> Mais de 2h </strong></h3>
  <h3 class="especificacoes">Rendimento<strong> Até 6 porções</strong></h3>

  <div id="linha-horizontal"></div>
  <h4 id="molho">PARA O MOLHO À BOLONHESA</h4>
  <div id="linha-horizontal2"></div><br><br>
  <h4 id="modospreparo">INGREDIENTES</h4><br>
  <ul id="ingredientes">
    <h4>
      <li>500 g de patinho moído</li>
      <li>½ xícara (chá) de cebola picada</li>
      <li>½ xícara (chá) de cebola picada</li>
      <li>⅔ de xícara (chá) de cenoura picada</li>
      <li>⅔ de xícara (chá) de salsão picado</li>
      <li>1 xícara (chá) de leite</li>
      <li>1 xícara (chá) de vinho branco seco</li>
      <li>1 lata de tomate pelado (com o líquido)</li>
      <li>1 colher (sopa) de óleo</li>
      <li>3 colheres (sopa) de manteiga</li>
      <li>noz-moscada ralada na hora a gosto</li>
      <li>sal e pimenta-do-reino moída na hora a gosto</li>
    </h4>
    </ul>

  <h4 id="modospreparo">MODO DE PREPARO</h4>
  <h4 class="text-break"><strong>1.</strong> Numa panela média, coloque o óleo, a manteiga e leve ao fogo médio. Quando a manteiga derreter, adicione a cebola e refogue, mexendo sempre, até ficar transparente. Junte a cenoura e o salsão picados, e refogue por 2 minutos, mexendo sem parar.<h4><br>

      <h4 class="text-break"><strong>2.</strong> Acrescente a carne moída e misture com um garfo. Tempere com sal e pimenta-do-reino e refogue até que a carne perca a cor rosada.</h4><br>
      <h4 class="text-break"><strong>3.</strong> Junte o leite, tempere com noz-moscada ralada na hora a gosto, e mexa até que evapore completamente. Adicione o vinho e deixe cozinhar até secar.</h4><br>
      <h4 class="text-break"><strong>4.</strong> Baixe o fogo, junte os tomates pelados (com o líquido da lata) e deixe cozinhar por 3 horas, com a panela tampada, mexendo de vez em quando. O fogo deve estar baixíssimo, caso contrário, o molho irá grudar no fundo da panela. A medida que for secando, adicione um pouquinho de água fervente.</h4>

      <div id="linha-horizontal"></div>
      <h4 id="molho">PARA O MOLHO BRANCO</h4>
      <div id="linha-horizontal3"></div>
      <h4 id="modospreparo">INGREDIENTES</h4>
      <ul id="ingredientes">
        <h4>
          <li>500 g de patinho moído</li>
          <li>½ xícara (chá) de cebola picada</li>
          <li>½ xícara (chá) de cebola picada</li>
          <li>⅔ de xícara (chá) de cenoura picada</li>
          <li>⅔ de xícara (chá) de salsão picado</li>
          <li>1 xícara (chá) de leite</li>
          <li>1 xícara (chá) de vinho branco seco</li>
          <li>1 lata de tomate pelado (com o líquido)</li>
          <li>1 colher (sopa) de óleo</li>
          <li>3 colheres (sopa) de manteiga</li>
          <li>noz-moscada ralada na hora a gosto</li>
          <li>sal e pimenta-do-reino moída na hora a gosto</li>
        </h4>
      </ul>

      <h4 id="modospreparo">MODO DE PREPARO</h4>
      <h4 class="text-break"><strong>1.</strong> Numa panela média, coloque a manteiga e leve ao fogo baixo. Quando derreter, acrescente a farinha de trigo e mexa por 2 minutos com uma colher de bambu ou espátula de silicone.<h4><br>
      <h4 class="text-break"><strong>2.</strong>Retire a panela do fogo e, sem parar de mexer, acrescente metade do leite. Mexa vigorosamente e, de preferência, com um batedor de arame para desmanchar os gruminhos de farinha. Volte a panela ao fogo médio, junte o restante do leite e continue mexendo até ferver.</h4><br>
      <h4 class="text-break"><strong>3.</strong> Quando começar a ferver, abaixe o fogo e tempere com sal, pimenta-do-reino e noz-moscada. Deixe cozinhar por cerca de 12 minutos, mexendo de vez em quando até o molho engrossar levemente (ele deve ficar ainda líquido pois irá hidratar a massa e engrossar durante o cozimento no forno).</h4>
      <div id="linha-horizontal"></div>
      <h4 id="molho"> PARA A MONTAGEM </h4>
      <div id="linha-horizontal4"></div>
      <h4 id="modospreparo"> INGREDIENTES </h4>
      <ul id="ingredientes">
      <h4>
                  <li>500 g de massa seca para lasanha</li>
                  <li>¾ de xícara (chá) de queijo parmesão ralado</li>
              </ul>
            </h4>

            <h4 id="modospreparo">MODO DE PREPARO</h4><br><br>
            <h4 class="text-break"><strong>1.</strong> Preaqueça o forno a 180 ºC (temperatura média).</h4><br>
            <h4 class="text-break"><strong>2.</strong> Quebre as folhas de massa de lasanha uma a uma, ao meio, formando 2 quadrados (dessa forma fica mais fácil cortar e servir a lasanha sem que ela despedace).</h4><br>
            <h4 class="text-break"><strong>3.</strong> Numa travessa refratária de 32 cm x 24 cm, coloque um pouco de molho branco no fundo e, em seguida, uma camada de molho à bolonhesa. Sobre os molhos, coloque uma camada de massa cobrindo todo o fundo da travessa.</h4><br>
            <h4 class="text-break"><strong>4.</strong> Sobre a primeira camada de massa, espalhe um pouco do molho à bolonhesa. Por cima do molho à bolonhesa, regue com um pouco do molho branco. Cubra com mais uma camada de massa e repita o processo, até finalizar com uma camada de molho à bolonhesa e molho branco.</h4><br>
            <h4 class="text-break"><strong>5.</strong> Polvilhe com o queijo parmesão ralado e leve ao forno preaquecido para assar por cerca de 15 minutos ou até gratinar. Sirva a seguir. </h4>

</body>
</head>
</html>