<head>

  <link rel="stylesheet" href="/static/css/nav-rodape.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>


<header>

    <a href="{{url_for('home')}}"><img src="https://media.discordapp.net/attachments/719989066808164492/895300449488494622/unknown__1_-removebg-preview_1.png" alt="" class="logo"></a>

    <section class="caixa-search">
      <input class="caixa-texto" type="text" name="" placeholder="">
      <a class="botao-search" href="#">
        <i class="fas fa-search"></i>
      </a>
    </section>

    <nav>
      <ul class="itens">
        <li><a href="{{url_for('topicos')}}">Tópicos</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{url_for('contato')}}">Contato</a></li>
        <li><a href="{{url_for('perfil')}} ">Perfil</a></li>
        {% endif %}

      </ul>
    </nav>

    <nav>
      {% if current_user.is_authenticated %}
      <ul class="sair">
        <li><a href=" {{url_for('logout')}}">Logout</a></li>
      </ul>
      {% else %}
      <ul class="registrar">
        <li> <a href="register">registrar</a> </li>
      </ul>
      {% endif %}
      {% if current_user.is_authenticated %}

      {% else %}
      <ul class="entrar">
        <li> <a href="login">entrar</a> </li>
        {% endif %}
      </ul>
    </nav>

  </header>

  {% block conteudo %} {% endblock %}


  <footer>
    <div class="boxs">
      <h3>Início</h3>
      <ul>
        <li class="inicio">Home</li>
        <li class="inicio">Perfil</li>
      </ul>
    </div>
    <div class="boxs">
      <h3>Suporte</h3>
      <ul>
        <li class="suporte">Contato</li>
      </ul>
    </div>
    <div class="boxs">
      <h3>Informações</h3>
      <ul>
        <p  class="informacoes">
          Se você deseja se tornar um iReceiteiro profissional assim como nós, basta conferir todas nossas receitas passo a passo. Neste site aproveite para dar sugestões e avaliações de como podemos melhorar.</p>
      </ul>
    </div>
  </footer>
  <div class="footer">
    <h2></h2>
    <div class="sociais">
      <div class="social">
        <a href="https://www.instagram.com/i.receitas_/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="social">
        <a href="https://br.pinterest.com/receitasprojetoint/_saved/"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
      </div>
      <div class="social">
        <a href="https://twitter.com/iReceitas_"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>






