<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rodapé></title>
  <link rel="stylesheet" href="style/estilo.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
  <footer>
    <div class="boxs">
      <h3>Início</h3>
      <ul>
        <li class="inicio">Home</li>
        <li class="inicio">Perfil</li>
      </ul>
    </div>
    <div class="boxs">
      <h3>Suporte</h3>
      <ul>
        <li class="suporte">Contato</li>
      </ul>
    </div>
    <div class="boxs">
      <h3>Informações</h3>
      <ul>
        <p  class="informacoes">
          Se você deseja se tornar um iReceiteiro profissional assim como nós, basta conferir todas nossas receitas passo a passo. Neste site aproveite para dar sugestões e avaliações de como podemos melhorar.</p>
      </ul>
    </div>
  </footer>
  <div class="footer">
    <h2></h2>
    <div class="sociais">
      <div class="social">
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="social">
        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
      </div>
      <div class="social">
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</body>
</html>