<html>
<head>
<body>
  <title>Sobremesas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 "></div>
    <div class="row no-gutter-xs visible-xs"></div>
    <div class="col-xs-1 col-sm-1 col-md-1"></div>

    <iframe src="https://www.youtube.com/embed/jPsNaaC4sZ4" title="YouTube video player" class="BoloChocolate" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h1 class="bolo">BOLO DE CHOCOLATE</h1>
    <h1 class="recheio"> COM AMENDOIM</h1>
    <h3 class="minidescricao"> O segredo para deixar o bolo úmido sem precisar de calda está escondido bem aqui, nesta receita. E a combinação de chocolate com amendoim, hein? Um arraso.</h3></div>
    <h3 class="especificacoes">Autor(a)<strong> Panelinha</strong></h3>
    <h3 class="especificacoes">Tempo de preparo<strong> Até 2h </strong></h3>
    <h3 class="especificacoes">Rendimento<strong> 10 porções</strong></h3>

  
   <div id="linha-horizontal"></div>
   <h4 id="massabolo">PARA A MASSA</h4>
   <div id="linha-horizontal2"></div>
   <h4 id="modospreparo">INGREDIENTES</h4><br>
   <ul id="igredientesbolo">
    <h4>
      <li>2 xícaras (chá) de farinha de trigo</li>
      <li>1 xícara (chá) de chocolate em pó</li>
      <li>1 maçã</li>
      <li>4 ovos</li>
      <li>1 xícara (chá) de óleo</li>
      <li>1 xícara (chá) de café coado</li>
      <li>½ xícara (chá) de açúcar</li>
      <li>½ xícara (chá) de açúcar mascavo</li>
      <li>1 colher (sopa) de fermento em pó</li>
      <li>manteiga para untar a fôrma</li>
      <li>farinha e chocolate em pó para polvilhar a fôrma</li>
    </h4>
  </ul>

  <br><br>
  <h4 id="modospreparo">MODO DE PREPARO</h4>
  <h4 class="text-break"><strong>1.</strong> Preaqueça o forno a 180 ºC (temperatura média). Numa tigela pequena, misture ½ colher (sopa) de farinha de trigo com 1 colher (sopa) de chocolate em pó para polvilhar a fôrma.<h4><br>

      <h4 class="text-break"><strong>2.</strong> Unte com manteiga uma fôrma redonda de 20 cm de diâmetro e 10 cm de altura. Corte um disco de papel-manteiga usando o fundo da fôrma como medida, pressione com os dedos para colar o papel no fundo untado e unte novamente com manteiga sobre o papel. Polvilhe o fundo e laterais da fôrma com a mistura de farinha e chocolate, bata bem sobre a pia para retirar o excesso</h4><br>
      <h4 class="text-break"><strong>3.</strong> Numa tigela, misture a farinha com o chocolate em pó e reserve. Lave, seque e corte a maçã ao meio – nem precisa descascar. Retire as sementes, corte em pedaços médios e transfira a maçã para o liquidificador.</h4><br>
      <h4 class="text-break"><strong>4.</strong> Numa tigela pequena, quebre um ovo de cada vez e junte à maçã se um estiver estragado você não perde a receita. Acrescente o café, o óleo, os açúcares e bata bem até formar ficar liso.</h4><br>
      <h4 class="text-break"><strong>5.</strong> Transfira para uma tigela e acrescente a mistura de secos, em etapas, passando pela peneira. Misture delicadamente com o batedor de arame para incorporar. Por último, misture o fermento em pó.</h4><br>
      <h4 class="text-break"><strong>6.</strong> Coloque a massa na fôrma preparada e gire sobre a bancada para nivelar. Leve ao forno para assar por cerca de 1 hora para verificar, espete um palito: se sair limpo, está pronto, caso contrário deixe assar por mais alguns minutos. Enquanto isso, aproveite para preparar a pasta de chocolate e amendoim.</h4><br>
      <h4 class="text-break"><strong>7.</strong> Retire do forno e deixe o bolo esfriar completamente antes de desenformar</h4>

      <div id="linha-horizontal"></div>
      <h4 id="massabolo">PARA A PASTA DE CHOCOLATE COM AMENDOIM</h4>
      <div id="linha-horizontal3"></div>
      <h4 id="modospreparo">INGREDIENTES</h4><br>
      <ul id="igredientesbolo">
      <h4>
          <li>3 xícaras (chá) de chocolate meio amargo (55-60%) picado grosseiramente (cerca de 450 g)</li>
          <li>1 ¼ de xícara (chá) de amendoim sem casca nem sal</li>
          <li>3 colheres (sopa) de óleo</li>

        </h4>
      </ul>

      <h4 id="modospreparo">MODO DE PREPARO</h4>
      <h4 class="text-break"><strong>1.</strong> Coloque o chocolate numa tigela de vidro e leve para rodar no micro-ondas, em potência média, de 30 em 30 segundos até derreter, mexa a cada etapa para não queimar e derreter de maneira uniforme. Reserve.<h4><br>
      <h4 class="text-break"><strong>2.</strong> Numa frigideira pequena, coloque o amendoim e leve ao fogo médio para aquecer por 5 minutos, mexendo de vez em quando, até ficar levemente tostado. Transfira o amendoim ainda quente para o liquidificador e bata, no modo pulsar, até formar uma farofa úmida se necessário, pare de bater e raspe a lateral do copo com uma espátula para misturar. Junte o óleo, o chocolate derretido e bata bem até formar uma pasta.
      <h4><br>
      <h4 class="text-break"><strong>3.</strong> Transfira para uma tigela e leve à geladeira para esfriar por cerca de 40 minutos, ou até que as bordas estejam firmes e o centro ainda derretido, assim a pasta fica na consistência ideal para rechear e cobrir o bolo. Mexa bem com uma colher e mantenha em temperatura ambiente até a hora de usar. Se preferir, prepare o creme de chocolate com antecedência e mantenha na geladeira até a hora de montar o bolo. Basta reaquecer no micro-ondas, de 10 em 10 segundos, mexendo a cada etapa até ficar macio novamente.</h4>
              
              <div id="linha-horizontal"></div>
              <h4 id="massabolo"> PARA A MONTAGEM </h4>
              <div id="linha-horizontal4"></div><br><br>
              <h4 id="modospreparo"> INGREDIENTES </h4><br><br>
              <ul id="igredientesbolo">
              <h4>
                  <li>praliné(pé de moleque com semente de coentro) a gosto para decorar</li>
                  </ul> 
             </h4>

            <h4 id="modospreparo">MODO DE PREPARO</h4><br><br>
            <h4 class="text-break"><strong>1.</strong>Assim que o bolo estiver frio, cubra a assadeira com um prato e vire de uma só vez para desenformar. Descarte o papel manteiga e desvire o bolo sobre a tábua – assim a base, que é mais retinha, fica do lado de cima.</h4><br>
            <h4 class="text-break"><strong>2.</strong> Com uma faca de pão, corte apenas a superfície do topo do bolo para nivelar. Corte o bolo ao meio, no sentido da largura, para formar duas camadas (se preferir, utilize uma linha grossa em vez da faca).Transfira a primeira camada de bolo para o prato de servir.</h4><br>
            <h4 class="text-break"><strong>3.</strong> Com uma colher, espalhe metade da pasta de chocolate sobre a primeira camada do bolo, do centro para a borda – ela vai ser o recheio. Cubra com a segunda camada de bolo e pressione delicadamente para firmar.</h4><br>
            <h4 class="text-break"><strong>4.</strong> Coloque o restante da pasta sobre o topo do bolo, às colheradas, e espalhe com as costas da colher para ficar rústico. Polvilhe com o praliné e sirva a seguir.</h4><br>

</body>
</head>
</html>
